#activities {
  display: flex;
  flex-direction: column;
}

#activity-list {
  margin: 44px 0;
  display: flex;
  flex-grow: 1;
}
#activity-list .card{
  padding: 0;
}
.container-activity-column {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 25%;
}
#activity-list,
.container-activity-column {
  gap: 40px;
}

.container-activity-column a,
.container-activity-column a .card {
  height: 100%;
}
.container-activity-column a .card {
  width: auto;
  min-width: 100px;
}

@media screen and (max-width: 1300px) {
  .container-activity-column {
    height: auto;
  }

  #activity-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content;
    flex-grow: 1;
  }
  .container-activity-column a .card {
    min-width: 400%;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  #activity-list {
    grid-template-columns: repeat(1, 1fr);
  }
  #activities {
    padding: 15px;
  }
}
