footer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 20px 60px;
}
.container-itemsFooter {
  display: flex;
  flex-direction: column;
}
.itemFooter {
  line-height: 22px;
}
.itemFooter:hover {
  color: #0065fc;
}
@media screen and (max-width: 3401px) {
  footer {
    padding: 20px 450px;
  }
}
@media screen and (max-width: 2700px){
    footer {
    padding: 20px 200px;
  }
}
@media screen and (max-width: 1890px) {
  footer {
    padding: 20px 200px;
  }

}
@media screen and (max-width: 1445px) {
  footer {
    padding: 20px 15px;
  }

}
@media screen and (max-width: 769px) {
  footer {
    display: flex;
    flex-direction: column;
  }
  .container-itemsFooter {
    margin-bottom: 20px;
  }
}

