/* Fonts */
@font-face {
  font-family: "Raleway";
  src: url(Assets/Fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
h2 {
  margin-top: 40px;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 3px;
}
h3 {
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 3px;
}
h4 {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 3px;
}
/* Général */
body {
  font-family: "Raleway";
  padding: 0;
  margin: 0;
}
#main-content {
  padding: 0px 60px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
figure {
  background-color: #ffffff;
  border: white 4px solid;
  border-radius: 10px;
  margin: 0px 20px 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 5px 2px;
}
figure:hover {
  transform: scale(1.1);
  transition: 100ms;
}
figcaption {
  padding: 8px;
  display: flex;
  flex-direction: column;
}
/* header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
#logoReservia {
  margin: 0 60px;
  width: 100px;
  object-fit: contain;
}
nav {
  display: flex;
  margin: 0 60px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.nav-items {
  padding: 20px;
  text-decoration: none;
  cursor: pointer;
}
#nav-hebergement {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}
#nav-activity {
  color: black;
}
#nav-inscription {
  color: #0065fc;
  font-weight: 700;
}
/* Section 1 */
/* SearchBar */
form {
  margin-top: 20px;
  display: flex;
}
.fa-map-marker-alt {
  background-color: #f2f2f2;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
input {
  border: 2px solid #f2f2f2;
  padding: 10px;
  font-weight: bold;
}
#search {
  background-color: #0065fc;
  color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: #0065fc;
  padding: 10px;
  cursor: pointer;
}
#search:hover {
  transform: scale(1.1);
}
/* Filters */
#container-filters {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
#filters {
  margin-right: 30px;
}
ul {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  gap: 30px;
}
li {
  list-style: none;
}
.btn-filter {
  display: flex;
  border: 3px solid #f2f2f2;
  border-radius: 30px;
  background-color: #ffffff;
  padding: 0 15px 0 0;
  align-items: center;
  cursor: pointer;
}
.btn-filter:hover {
  transform: scale(1.2);
  transition: 100ms;
  border: 2px solid #0065fc;
}
.icon-filter {
  color: #0065fc;
  background-color: #deebff;
  padding: 12px 15px 12px 15px;
  margin-right: 5px;
  border-radius: 60px;
}
.text-filter {
  font-weight: bold;
  font-size: 1em;
}
/* Infos */
#container-infos {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
#icon-infos {
  color: #0065fc;
  padding: 2px 5px 2px 5px;
  border-radius: 60px;
  border: 3px solid #f2f2f2;
  font-size: 13px;
  margin-right: 10px;
}
#text-infos {
  padding-top: 2px;
}
/* Section 2 */
/* Commun aux 2 parties */
#hebergements {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}
.partHebergements {
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.title-hebergement {
  padding-left: 40px;
}
.priceNight {
  font-size: 0.7em;
  margin-bottom: 8px;
}
figcaption h3 {
  margin-top: 0;
}
span {
  font-weight: bold;
}
/* Rating stars */
/* Définition du style de l'étoile */
.rating {
  direction: rtl; /* Direction inversée pour que ça s'affiche correctement */
  font-size: 0.7em;
  display: flex;
  justify-content: left;
  color: #f2f2f2;
}
/* Régagles des ratings */
/* nth-of-type permet de cibler un enfant de la liste */
.rating1 i:nth-of-type(5) {
  /* Grâce à "direction: rtl", le sens est inversé, Je sélectionne l'élément qui se trouve à cet emplacement (5) , c'est l'étoile 1 */
  color: #0065fc; /* L'étoile 1 sera bleu */
}
/* Avec le sélecteur adjacence indirecte je sélectionne tous les frères de mon sélecteur.*/
.rating2 i:nth-of-type(4)~i, 
/* Je sélectionne les frères qui sont après (4), je sélectionne l'étoile 1 (5) */
.rating2 i:nth-of-type(4) {
  /* Je sélectionne l'étoile 2 (4) */
  color: #0065fc; /* L'étoile 1 et 2 seront bleu*/
}
/* Je repète l'opération pour les autres étoiles */
.rating3 i:nth-of-type(3) ~ i,
.rating3 i:nth-of-type(3) {
  color: #0065fc;
}
.rating4 i:nth-of-type(2) ~ i,
.rating4 i:nth-of-type(2) {
  color: #0065fc;
}
.rating5 i:nth-of-type(1) ~ i,
.rating5 i:nth-of-type(1) {
  color: #0065fc;
}
/* Partie gauche */
.partHebergements-left {
  margin-right: 20px;
}
.part-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0px 0px 20px;
}
.imgHebergement-left {
  width: 260px;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
#btn-more {
  border: none;
  background-color: transparent;
  font-weight: bold;
  padding-left: 40px;
  margin-bottom: 30px;
  cursor: pointer;
}
#btn-more:hover {
  transform: scale(1.1);
  transition: 100ms;
}
/* Partie droite */
.part-right {
  margin: 0px 20px;
}
#container-title-hebergement {
  display: flex;
  justify-content: space-between;
}
#icon-popular {
  padding-top: 50px;
  padding-right: 30px;
}
.figure-right {
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.imgHebergement-right {
  width: 120px;
  height: 120px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: cover;
}
.priceNight.night-right {
  flex-grow: 1;
}
/* Section 3 */
#activities {
  display: flex;
  flex-direction: column;
}
#activity-list {
  margin-top: 20px;
  display: flex;
  flex-grow: 1;
}
.figure-activity {
  margin: 0px 40px 25px 0px;
}
.img-activity {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  object-fit: cover;
}
.imgTall {
  min-width: 285px;
  height: 440px;
}
.imgSmall {
  min-width: 330px;
  height: 180px;
}
/* Footer */
footer {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 20px 60px;
}
.container-itemsFooter {
  display: flex;
  flex-direction: column;
}
.itemFooter {
  line-height: 30px;
}
.itemFooter:hover {
  color: #0065fc;
}
/* Media queries */
@media screen and (max-width: 1864px) {
}
@media screen and (max-width: 1462px) {
  /* Section 3 */
  #activities {
    overflow: auto;
  }
}
@media screen and (max-width: 972px) {
  /* Section 1 */
  #container-filters {
    display: block;
  }
  /* Section 2 */
  #hebergements {
    flex-direction: column-reverse;
  }
  .partHebergements-left {
    margin-bottom: 20px;
    width: 100%;
  }
}
@media screen and (max-width: 710px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
@media screen and (max-width: 541px) {
  /* Header */
  nav {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  #nav-hebergement {
    color: #0065fc;
    border-top: none;
    border-bottom: 2px solid #0065fc;
    flex-grow: 1;
  }
  #nav-activity {
    border-bottom: 2px solid #f2f2f2;
    flex-grow: 1;
  }
  #logoReservia {
    margin: 0 15px;
  }
  nav {
    margin: 0;
  }
  #nav-inscription {
    position: absolute;
    top: 0;
    right: 0;
  }
  /* Général */
  #main-content {
    padding: 0;
  }
  #activities,
  #introduction {
    padding: 0 15px;
  }
  /* Section 2 */

  .partHebergements-left {
    background-color: transparent;
  }
  .imgHebergement-left {
    width: 100%;
    height: inherit;
  }
  .partHebergements-right {
    padding-bottom: 20px;
    border-radius: 0;
  }
  /* Section 3 */
  #activities {
    overflow: unset;
  }
  #activity-list {
    display: flex;
    flex-direction: column;
  }
  .figure-activity {
    margin: 0 0 15px 0;
  }
  .imgTall {
    min-width: 100%;
  }
  .imgSmall {
    min-width: 100%;
  }
  /* Footer */
  footer {
    padding: 20px;
  }
}
@media screen and (max-width: 375px) {
  /* Section 1 */
  input{
    min-width: 110px;
  }
}
