/* Fonts */
@font-face {
  font-family: "Raleway";
  src: url(Assets/Fonts/Raleway/Raleway-VariableFont_wght.ttf);
}
h2 {
  margin-top: 40px;
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 3px;
}
h3 {
  font-weight: bold;
  font-size: 0.8em;
  margin-bottom: 3px;
}
h4 {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 3px;
}

/* Général */
body {
  font-family: "Raleway";
  padding: 0;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
section,
header {
  margin: 30px 60px 30px 60px;
}
figure {
  background-color: #ffffff;
  border: white 4px solid;
  border-radius: 10px;
  margin: 0px 20px 20px 10px;
  box-shadow: rgba(0, 0, 0, 0.075) 0px 5px 2px;

}
figcaption {
  padding: 8px;
}
/* header */
header {
  display: flex;
  justify-content: space-between;
}
#logoReservia {
  width: 100px;
  height: 100%;
}
nav {
  display: flex;
  justify-content: space-around;
  width: max-content;
}
.nav-items {
  padding: 20px;
  text-decoration: none;
}
#nav-hebergement {
  color: #0065fc;
}
#nav-activity {
  color: black;
}
#nav-inscription {
  color: #0065fc;
  font-weight: 700;
}

/* Section 1 */
/* SearchBar */
form {
  margin-top: 20px;
}
.fa-map-marker-alt {
  background-color: #f2f2f2;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
input {
  border: 2px solid #f2f2f2;
  border-right: none;
  border-left: none;
  padding: 10px;
  font-weight: bold;
}
#search {
  background-color: #0065fc;
  color: #ffffff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: #0065fc;
  padding: 10px;
}
/* Filters */
#container-filters {
  margin-top: 20px;
}
ul {
  display: flex;
  padding: 0;
  flex-wrap: wrap;  
}
li {
  list-style: none;
}
#filters {
  padding-top: 15px;
}
.btn-filter {
  border: 4px solid #f2f2f2;
  border-radius: 30px;
  background-color: #ffffff;
  margin-left: 30px;
  padding: 0 15px 0 0;
}
.icon-filter {
  color: #0065fc;
  background-color: #deebff;
  padding: 12px 15px 12px 15px;
  margin-right: 5px;
  border-radius: 60px;
}
.text-filter {
  font-weight: bold;
  font-size: 1em;
}
/* Infos */
#container-infos {
  display: flex;
  margin-top: 20px;
}
#icon-infos {
  color: #0065fc;
  padding: 2px 5px 2px 5px;
  border-radius: 60px;
  border: 4px solid rgb(242, 242, 242);
  font-size: 13px;
  margin-right: 10px;
}
#text-infos {
  padding-top: 2px;
}
/* Section 2 */
/* Commun aux 2 parties */
#hebergements {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
  
}
.partHebergements {
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.title-hebergement {
  padding-left: 40px;
}
.priceNight {
  font-size: 0.7em;
  margin-bottom: 8px;
}
span {
  font-weight: bold;
}
/* Rating stars */
/* Définition du style de l'étoile */
.rating {
  direction: rtl; /* Direction inversée pour que ça s'affiche correctement */
  font-size: 0.7em;
  display: flex;
  justify-content: left;
  color:#f2f2f2 ;
}
/* Régagles des ratings */
.rating1 i:nth-of-type(5) { /* Grâce à "direction: rtl", le sens est inversé, Je sélectionne l'élément qui se trouve à cet emplacement (5) , c'est l'étoile 1 */
  color: #0065fc; /* L'étoile 1 sera bleu */
}
.rating2 i:nth-of-type(4)~i, /* Je sélectionne les élements qui sont après (4), je sélectionne l'étoile 1 (5)*/
.rating2 i:nth-of-type(4) { /* Je sélectionne l'étoile 2 (4) */
  color: #0065fc; /* L'étoile 1 et 2 seront bleu*/
}
/* Je repète l'opération pour les autres étoiles */
.rating3 i:nth-of-type(3)~i,
.rating3 i:nth-of-type(3) {
  color: #0065fc;
}

.rating4 i:nth-of-type(2)~i,
.rating4 i:nth-of-type(2) {
  color: #0065fc;
}

.rating5 i:nth-of-type(1)~i,
.rating5 i:nth-of-type(1) {
  color: #0065fc;
}
/* Partie gauche */
.partHebergements-left{
  margin-right: 20px;
}
.part-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px 0px 0px 20px;

}
.imgHebergement-left {
  width: 260px;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#btn-more {
  border: none;
  background-color: transparent;
  font-weight: bold;
  padding-left: 40px;
  margin-bottom: 30px;
  cursor: pointer;
}
/* Partie droite */
.part-right{
  margin:0px 20px
}
#container-title-hebergement {
  display: flex;
  justify-content: space-between;
}
#icon-popular {
  padding-top: 50px;
  padding-right: 30px;
}
.figure-right {
  width: 320px;
  display: flex;
  flex-direction: row;
  margin: 20px;
}
.imgHebergement-right {
  width: 120px;
  height: 120px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.night-right{
  margin-bottom: 30px;
}
/* Section 3 */
#activities {
  display: flex;
  flex-direction: column;
}
.activity-list {
  display: flex;
  flex-grow: 1;
}
.figure-activity {
  margin: 0px 40px 25px 0px;
}
.img-activity {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
.imgTall {
  width: 320px;
  height: 440px;
}
.imgSmall {
  width: 290px;
  height: 180px;
} 
/* Footer */
footer {
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  justify-content: left;
}
.container-itemsFooter {
  display: flex;
  flex-direction: column;
  margin: 30px 190px 70px 70px;
}
.itemFooter {
  line-height: 30px;
}

/* Media queries */
@media screen and (max-width:1462px) {
  /* Section 2 */
  #hebergements{
    flex-direction: column;
  }
  .partHebergements-left{
    margin-bottom: 20px;
    width: 100%;
  }
  .partHebergements{
    width: fit-content;
  }
  /* Section 3 */
  #activities{
    overflow: auto;
  }

}
@media screen and (max-width:376px){
  form{
    display: flex;
  }
  ul{
    flex-direction: column;
  }
  li{
    margin-bottom: 10px;
  }
  #container-infos{
    align-items: center;
  }
  #hebergements{
    flex-direction: column-reverse;
    width: 100%;
  }
  .partHebergements-right{
    margin-bottom: 30px;
  }
  .figure-right {
    width: 240px;
}
  #activities{
    overflow: unset;
    margin: 50px;
    width: 100%;
  }
  .activity-list{
        flex-direction: column;
  }
  footer{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}