#part-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}
.partHebergements-right{
  min-width: 310px;
  width: 33%;
}

@media screen and (max-width: 1106px) {
  .partHebergements-right {
    min-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 769px){
  .partHebergements-right {
  width: 100%;
  }
}
@media screen and (max-width: 425px) {
  #popular {
    margin: 10px 0;
  }
}
